body {
  background-image: url(https://photo.maxifoot.fr/premier-league-13.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}

.containt {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  width: 50%;
}

.flex {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
}

img {
  width: 200px;
}

.infos {
  margin-left: 20px;
}

.infos p {
  margin: 10px 0;
}

